<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text="${titulo}"></title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>

	<form action="@{/form}" th:object="${usuario}" method="post">
		<div>
			<label for="username">Username</label>
			<div>
				<input type="text" id="username"
					th:field="*{username}">
			</div>
<!-- 			<div th:if="${error != null && error.constainsKey('username')}" -->
<!-- 				th:text="${error.username}"></div> -->
			<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
		</div>

		<div>
			<label for="password">Password</label>
			<div>
				<input type="password"  id="password" th:field="*{password}">
			</div>
<!-- 			<div th:if="${error != null && error.constainsKey('password')}" -->
<!-- 				th:text="password"></div> -->
			<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>

		</div>

		<div>
			<label for="email">Correo</label>
			<div>
				<input type="text" th:field="*{email}" id="email">
			</div>
<!-- 			<div th:if="${error != null && error.constainsKey('email')}" -->
<!-- 				th:text="email"></div> -->
			<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
		</div>
		<div>
			<div>
				<input type="submit" value="enviar">
			</div>
		</div>
	</form>
</body>
</html>